body {
	background-color: rgba(0,240,90,40.3);
}

.product {
	width:250px;
}

.listPreview {
	padding: 5px;
}

.listPreview li {
	list-style: none;
	display: inline;
	cursor: pointer;
}

.listPreview li img:hover {
	transform: scale(1.1);
}

.reviews {
	padding: 5px;
	border: 1px solid #333;
}

.reviews .col-md-4 {
	
}