<!DOCTYPE html>
<html ng-app="gemStore">
<head>
	<meta charset="UTF-8">
	<title>GemStore</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="StoreController as store">
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">GemStore</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Quienes somos</a></li>
					<li class="active"><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div ng-repeat="product in store.products" ng-hide="product.soldOut">
			<div class="row" ng-if="product.images.length">
				<div class="col-md-3" ng-controller="GalleryController as gallery">
					<div class="product well text-center">
						<div class="row">
							<div class="col-md-12">
								<img class="img-thumbnail" ng-src="{{product.images[gallery.current]}}">
							</div>
						</div>
						<div class="row">
							<ul class="listPreview">
								<li ng-repeat="image in product.images">
									<img class="img-thumbnail" ng-src="{{ image }}" ng-click="gallery.setCurrent($index)" width="30%" > <!-- $index es el index del ng-repeat -->
								</li>
							</ul>
						</div>
						<h4>{{product.name}} <em>{{product.price | currency}}</em></h4>
						<button ng-show="product.canPurchase" ng-click="store.purchase(product)">Add to cart!</button>
					</div>
				</div>
				<div class="col-md-9">
					<section class="tab" ng-controller="TabController as tab">
	                    <ul class="nav nav-tabs">
	                        <li ng-class="{ active: tab.isSet(1) }">
	                            <a href ng-click="tab.setTab(1)">Description</a>
	                        </li>
	                        <li ng-class="{ active: tab.isSet(2) }">
	                            <a href ng-click="tab.setTab(2)">Specs</a>
	                        </li>
	                        <li ng-class="{ active: tab.isSet(3) }">
	                            <a href ng-click="tab.setTab(3)">Reviews</a>
	                        </li>
	                    </ul>
	                    
	                    <product-description ng-show="tab.isSet(1)"></product-description>

	                    <div ng-show="tab.isSet(2)" product-specs></div>
	                    
	                    <product-reviews ng-show="tab.isSet(3)"></product-reviews>
	                    
	                </section>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular-locale_es-ar.js"></script>
	<script type="text/javascript" src="js/gemStore.js"></script>
	<script type="text/javascript" src="js/tabController.js"></script>
	<script type="text/javascript" src="js/galleryController.js"></script>
	<script type="text/javascript" src="js/reviewController.js"></script>
	<script type="text/javascript" src="js/productDescriptionDirective.js"></script>
	<script type="text/javascript" src="js/productSpecsDirective.js"></script>
	<script type="text/javascript" src="js/productReviewsDirective.js"></script>
</body>
</html>