<!DOCTYPE html>
<html ng-app="gemStore">
<head>
	<meta charset="UTF-8">
	<title>GemStore</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="StoreController as store">
	<header>
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header">
					<a class="navbar-brand" href="#">GemStore</a>
				</div>
				<ul class="nav navbar-nav">
					<li><a href="#">Inicio</a></li>
					<li><a href="#">Quienes somos</a></li>
					<li class="active"><a href="#">Productos</a></li>
					<li><a href="#">Contacto</a></li>
				</ul>
			</div>
		</nav>
	</header>
	<div class="container">
		<div ng-repeat="product in store.products" ng-hide="product.soldOut">
			<div class="row" ng-if="product.images.length">
				<div class="col-md-3" ng-controller="GalleryController as gallery">
					<div class="product well text-center">
						<div class="row">
							<div class="col-md-12">
								<img class="img-thumbnail" ng-src="{{product.images[gallery.current]}}">
							</div>
						</div>
						<div class="row">
							<ul class="listPreview">
								<li ng-repeat="image in product.images">
									<img class="img-thumbnail" ng-src="{{ image }}" ng-click="gallery.setCurrent($index)" width="30%" > <!-- $index es el index del ng-repeat -->
								</li>
							</ul>
						</div>
						<h4>{{product.name}} <em>{{product.price | currency}}</em></h4>
						<button ng-show="product.canPurchase" ng-click="store.purchase(product)">Add to cart!</button>
					</div>
				</div>
				<div class="col-md-9">
					<section class="tab" ng-controller="TabController as tab">
	                    <ul class="nav nav-tabs">
	                        <li ng-class="{ active: tab.isSet(1) }">
	                            <a href ng-click="tab.setTab(1)">Description</a>
	                        </li>
	                        <li ng-class="{ active: tab.isSet(2) }">
	                            <a href ng-click="tab.setTab(2)">Specs</a>
	                        </li>
	                        <li ng-class="{ active: tab.isSet(3) }">
	                            <a href ng-click="tab.setTab(3)">Reviews</a>
	                        </li>
	                    </ul>
	                    
	                    <div ng-show="tab.isSet(1)">
	                        <h4>Description</h4>
	                        <blockquote>{{ product.description }}</blockquote>
	                    </div>
	                    
	                    <div ng-show="tab.isSet(2)">
	                        <h4>Specs</h4>
	                        <blockquote>Shine: {{product.shine}}</blockquote>
	                    </div>
	                    
	                    <div ng-show="tab.isSet(3)">
	                    	<div class="row">
	                    		<div class="col-md-8">
		                        	<h4>Reviews</h4>
			                        <div class="reviews" ng-repeat="review in product.reviews">
			                        	<strong>{{ review.stars }}</strong><img src="images/star.png" width="15px">
		                        		<p><strong>Author:</strong> <em>{{ review.author }} on {{review.createdOn | date:'dd/MM/yyyy'}}</em></p>
			                        	<p><strong>Review:</strong> <em>{{ review.body }}</p></em>
			                        </div>
	                    		</div>
	                    		<div class="col-md-4">
	                    			<form ng-controller="reviewController as reviewCtrl" ng-submit="submitReviewForm.$valid && reviewCtrl.addReview(product) && submitReviewForm.$setPristine()" name="submitReviewForm" novalidate>
	                    				<p>Rate this product</p>
	                    				<fieldset class="form-group" ng-class="{'has-error': submitReviewForm.stars.$dirty && submitReviewForm.stars.$invalid}">
											<select ng-model="reviewCtrl.review.stars" ng-options="stars for stars in [5,4,3,2,1]" title="Stars" name="stars" required>
												<option value="">Rate the Product</option>
											</select>
										</fieldset>
										<fieldset class="form-group" ng-class="{'has-error': submitReviewForm.author.$dirty && submitReviewForm.author.$invalid}">
											<input ng-model="reviewCtrl.review.author" type="email" class="form-control" placeholder="name@domain.com" title="email" name="author" required/>
										</fieldset>
										<fieldset class="form-group">
											<textarea ng-model="reviewCtrl.review.body" class="form-control" ng-class="{'has-error': submitReviewForm.review.$dirty && submitReviewForm.review.$invalid}" placeholder="Describe your review..." title="Review" name="review" required></textarea>
										</fieldset>
										<fieldset class="form-group">
											<input type="submit" class="btn btn-primary" ng-class="submitReviewForm.$dirty && submitReviewForm.$invalid ? 'btn-danger' : 'btn-primary'" value="Submit Review" />
										</fieldset>
	                    			
		                    			<div ng-show="submitReviewForm.$dirty">
			                    			<h4>Preview</h4>
			                    			<div class="reviews">
												<div ng-show="submitReviewForm.stars.$dirty">
													<strong>{{ reviewCtrl.review.stars }}</strong><img src="images/star.png" width="15px">
												</div>
				                        		<div ng-show="submitReviewForm.author.$dirty">
				                        			<p><strong>Author:</strong> <em>{{ reviewCtrl.review.author }}</em></p>
				                        		</div>
				                        		<div ng-show="submitReviewForm.review.$dirty">
				                        			<p><strong>Review:</strong> <em>{{ reviewCtrl.review.body }}</em></p>
				                        		</div>
				                        	</div>
		                    			</div>
	                    			</form>
	                    		</div>
	                    	</div>
	                    </div>
	                </section>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/angular-locale_es-ar.js"></script>
	<script type="text/javascript" src="js/gemStore.js"></script>
	<script type="text/javascript" src="js/tabController.js"></script>
	<script type="text/javascript" src="js/galleryController.js"></script>
	<script type="text/javascript" src="js/reviewController.js"></script>
</body>
</html>