<div class="product well text-center">
	<div class="row">
		<div class="col-md-12">
			<img class="img-thumbnail" ng-src="{{ product.images[gallery.current] }}">
		</div>
	</div>
	<div class="row">
		<ul class="listPreview">
			<li ng-repeat="image in product.images">
				<img class="img-thumbnail" ng-src="{{ image }}" ng-click="gallery.setCurrent($index)" width="30%" >
			</li>
		</ul>
	</div>
	<h4>{{product.name}} <em>{{product.price | currency}}</em></h4>
	<button ng-show="product.canPurchase" ng-click="store.purchase(product)">Add to cart!</button>
</div>